body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.welcome{
    font-size: 35px;
    
}
.welcome-color{
    color: coral;
}


.half{
    width: 50%;
    margin-left: 80px;
}
.half img{
    width: 80%;
}
.link-hire{
    text-decoration: none;
    background-image: linear-gradient(coral, orange );
    padding: 15px 30px;
    color: aliceblue;
    border-radius: 10px;
    font-weight: 400;

}
.first{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-top: 50px;

}
.button-m{
    margin-bottom: 30px;
}