body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.welcome{
    font-size: 35px;
    
}
.welcome-color{
    color: coral;
}


.half{
    width: 50%;
    margin-left: 80px;
}
.half img{
    width: 80%;
}
.link-hire{
    text-decoration: none;
    background-image: linear-gradient(coral, orange );
    padding: 15px 30px;
    color: aliceblue;
    border-radius: 10px;
    font-weight: 400;

}
.first{
    display: flex;
    background-image: url();
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 100px;

}
.button-m{
    margin-bottom: 30px;
}


.dream-big{
    display: flex;
}

.dream-img{
    width: 50%;
}
.dream-img img{
    width: 80%;
}
.dream-dis{
    width: 40%;
    margin-top: 120px;
}
.dream-dis h2{
    font-size: 40px;
    color: orange;
    text-transform:capitalize;
}
.dream-dis h3{
    font-size: 30px;
    text-transform:capitalize;
}
.dream-dis p{
    font-size: 20px;
}

/* experiences third */
.ex-dis{
    display: flex;
}
.ex{
    width: 40%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
    box-shadow: 10px 10px 15px gray;
    border-radius: 20px;
    border-left: 9px solid black;
}
.ex-dis{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.ex-pad{
    margin:60px 70px;
    font-size: 35px;

}
